<!DOCTYPE html>
<html>
    <head>
        <title>Jangbae Insight App</title>
    </head>
    <body>
        <div class="container">
          <h1>Your current location is {{cL}} and Destination is {{tL}}
          </h1>
          <h1>There are {{fr_nlight}} street lights in the fastest route and the distance is {{fr_distance}}.
          </h1>                    
          <h1>There are {{br_nlight}} street lights in a brighter route and the distance is {{br_distance}}.
          </h1>                    
          <form role="form" method='POST' action='/next_route'>
            <div class="form-group">
              <input type="text" name="current_location" placeholder="Enter Your Location" style="max-width: 300px;" autofocus required>
            </div>

            <div class="form-group">
              <input type="text" name="target_location" placeholder="Enter Destination" style="max-width: 300px;" autofocus required>
            </div>
            <button type="submit">Submit</button>
          </form>
          <br>
        </div>
        <div>
        </div>
        {% block map %}
            {% include "route_graph_test_adjusted.html" %}
        {% endblock %}        
    </body>
</html>
