<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6bd86cd314ed461e9fb76113344c0bd8 {
                    position: relative;
                    width: 75.0%;
                    height: 100.0%;
                    left: 28.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_6bd86cd314ed461e9fb76113344c0bd8" ></div>
        
</body>
<script>    
    
            var map_6bd86cd314ed461e9fb76113344c0bd8 = L.map(
                "map_6bd86cd314ed461e9fb76113344c0bd8",
                {
                    center: [42.361145, -71.057083],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_82e9a2c91266407d9b3c26f4897d6ac3 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var marker_ec6ad7f5941a4ac7bc30eaabf8f6caca = L.marker(
                [42.365168, -71.0603391],
                {}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
        var popup_1010bc0a80a349638cae4187547dcd43 = L.popup({"maxWidth": "100%"});

        
            var html_567189ceaf384f33855ae3dfffd8ddc4 = $(`<div id="html_567189ceaf384f33855ae3dfffd8ddc4" style="width: 100.0%; height: 100.0%;">Origin</div>`)[0];
            popup_1010bc0a80a349638cae4187547dcd43.setContent(html_567189ceaf384f33855ae3dfffd8ddc4);
        

        marker_ec6ad7f5941a4ac7bc30eaabf8f6caca.bindPopup(popup_1010bc0a80a349638cae4187547dcd43)
        ;

        
    
    
            marker_ec6ad7f5941a4ac7bc30eaabf8f6caca.bindTooltip(
                `<div>
                     Origin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e6f908d7234483eb8c1b31d0d5d187b = L.marker(
                [42.3528779, -71.0555024],
                {}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
        var popup_9f79dbe9c3494f59bf9f07bec43edc75 = L.popup({"maxWidth": "100%"});

        
            var html_1a348a3d1db44728b6669e6eb446f359 = $(`<div id="html_1a348a3d1db44728b6669e6eb446f359" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
            popup_9f79dbe9c3494f59bf9f07bec43edc75.setContent(html_1a348a3d1db44728b6669e6eb446f359);
        

        marker_9e6f908d7234483eb8c1b31d0d5d187b.bindPopup(popup_9f79dbe9c3494f59bf9f07bec43edc75)
        ;

        
    
    
            marker_9e6f908d7234483eb8c1b31d0d5d187b.bindTooltip(
                `<div>
                     Destination
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_266211f20ef54fb982bb48e94ca28f25 = L.polyline(
                [[42.3656659, -71.0605925], [42.3657623, -71.0604088]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_d568da2605d04e0aae90400ea1ce88b0 = L.polyline(
                [[42.3657623, -71.0604088], [42.3658969, -71.0601064]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_d66e4b56b2a843ca96a2ad1d10d15b2d = L.polyline(
                [[42.3658969, -71.0601064], [42.3648924, -71.0589827]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_629dc2505bb64d3c96a57fd7f645d50e = L.polyline(
                [[42.3648924, -71.0589827], [42.3642894, -71.0584466]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_8357e718d91b4eda957c02286ad4cdaf = L.polyline(
                [[42.3642894, -71.0584466], [42.3638789, -71.058429]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_3c6c1918ba3a4c52a70e3185b92e89f7 = L.polyline(
                [[42.3638789, -71.058429], [42.3637251, -71.0583972]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_b0bbabdb7dc54a999cc12b088fe95726 = L.polyline(
                [[42.3637251, -71.0583972], [42.3635205, -71.0583108]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_5417f2e3f5534e1899fbea55a5ce1475 = L.polyline(
                [[42.3635205, -71.0583108], [42.362877, -71.057638]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_17fc74c1739745ceabc4cf894d565165 = L.polyline(
                [[42.362877, -71.057638], [42.3628611, -71.0576184]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_720122fd5eab4f5094ecb4605269a05d = L.polyline(
                [[42.3628611, -71.0576184], [42.3627972, -71.0577029]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_dc562d3b19ec48df86c7a5ca965667b5 = L.polyline(
                [[42.3627972, -71.0577029], [42.3627241, -71.057647]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_337ca879c17b449b9fec368cc98f3599 = L.polyline(
                [[42.3627241, -71.057647], [42.3626624, -71.0575599]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_e85f9f95bbcc44c5a67305e230ee59a3 = L.polyline(
                [[42.3626624, -71.0575599], [42.3621437, -71.0568122]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_14337a12db984a6882f4cf537587b97b = L.polyline(
                [[42.3621437, -71.0568122], [42.361666, -71.0575511]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_2a3c69dc01eb4338badda0d2447ea242 = L.polyline(
                [[42.361666, -71.0575511], [42.3615789, -71.0575108]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_9c308a6aaa8142f0a71c1a7e1967a4d7 = L.polyline(
                [[42.3615789, -71.0575108], [42.3615019, -71.0574581]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_5a7b40bcab33479795694b42775d4e4f = L.polyline(
                [[42.3615019, -71.0574581], [42.3614608, -71.0575499]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_f4431670bee540cd86b061ff20cab62a = L.polyline(
                [[42.3614608, -71.0575499], [42.3603689, -71.0571833]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_240b9bbf513c4df2b816067450f209b0 = L.polyline(
                [[42.3603689, -71.0571833], [42.3602727, -71.0571572]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_d0736eae8af74be38b514bb1e2c60d6a = L.polyline(
                [[42.3602727, -71.0571572], [42.3601494, -71.0571224]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_cc7ef644734443618649c0cb594b6aed = L.polyline(
                [[42.3601494, -71.0571224], [42.3599117, -71.0570469]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_83af095bb05146668bd4126925108df3 = L.polyline(
                [[42.3599117, -71.0570469], [42.359794, -71.0570135]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_30710dfd5a004496a62c17eba8b8eaef = L.polyline(
                [[42.359794, -71.0570135], [42.359007, -71.0568173]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_2977c00d9b1046fd82a6187b6a2340b2 = L.polyline(
                [[42.359007, -71.0568173], [42.358862, -71.0567884]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_619cb5bdc9194403870a8f67c7a21607 = L.polyline(
                [[42.358862, -71.0567884], [42.3587703, -71.0567625]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_36dda84aeafd49a3baa486c985873c0f = L.polyline(
                [[42.3587703, -71.0567625], [42.3584507, -71.056672]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_af1a6e3d590b47b6ae58b36e9b88945e = L.polyline(
                [[42.3584507, -71.056672], [42.3581124, -71.056566]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_038bcf7530534e15acccd83052055d75 = L.polyline(
                [[42.3581124, -71.056566], [42.3580435, -71.0565444]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_f8d57b172acb4347a88d07b8701787ac = L.polyline(
                [[42.3580435, -71.0565444], [42.3577427, -71.0564501]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_cbb69526af26437db81673920178a4e9 = L.polyline(
                [[42.3577427, -71.0564501], [42.3575841, -71.0564128]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_850663af614649ef9e6ff5c80549a8bd = L.polyline(
                [[42.3575841, -71.0564128], [42.3569024, -71.05575]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_70cdd20b909c4e01b8da6997792de1e5 = L.polyline(
                [[42.3569024, -71.05575], [42.3567754, -71.0556187]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_6a1fa46960d440d8ba4ed9ae4b102eb9 = L.polyline(
                [[42.3567754, -71.0556187], [42.3566213, -71.0554593]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_4d10546c0a0a447bacfb521d1a12b87f = L.polyline(
                [[42.3566213, -71.0554593], [42.3562498, -71.055075]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_956f8f0511dc4355afaf496f4e0100e2 = L.polyline(
                [[42.3562498, -71.055075], [42.3560675, -71.0548864]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_e41d678d8a3249c0a0124dd549220157 = L.polyline(
                [[42.3560675, -71.0548864], [42.3552362, -71.0540266]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_2d9b289a77d949df89728df7782c61fb = L.polyline(
                [[42.3552362, -71.0540266], [42.3549557, -71.0543299]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_92b54c9a51c64bca949250d72640f555 = L.polyline(
                [[42.3549557, -71.0543299], [42.3546538, -71.0546606]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_595038a76d73485095b0be33e3d3f34a = L.polyline(
                [[42.3546538, -71.0546606], [42.3536248, -71.0561898]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_1647875f09164670ae11168d22788d45 = L.polyline(
                [[42.3536248, -71.0561898], [42.3532187, -71.0559294]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_b0e3ad67b2294f24b0fc3a25635132fd = L.polyline(
                [[42.3532187, -71.0559294], [42.3531148, -71.0559079]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_58cb72ed163a440b86f5cab717cfc7c8 = L.polyline(
                [[42.3531148, -71.0559079], [42.3529933, -71.0558113]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_e28053c27be14da78b11fd66f534c6cc = L.polyline(
                [[42.3529933, -71.0558113], [42.3527775, -71.0554151]],
                {"bubblingMouseEvents": true, "color": "#e6e600", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#e6e600", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 4}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            map_6bd86cd314ed461e9fb76113344c0bd8.fitBounds(
                [[42.3527775, -71.0605925], [42.3658969, -71.0540266]],
                {}
            );
        
    
            var poly_line_aaeec5b41391491f912bb3180556218e = L.polyline(
                [[42.3656659, -71.0605925], [42.3646343, -71.0594266]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_007c0befe4964b3abb44b36e815155d9 = L.polyline(
                [[42.3646343, -71.0594266], [42.3643481, -71.0598847]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_7fd70e19bb2a45aa80041279a369cde1 = L.polyline(
                [[42.3643481, -71.0598847], [42.3635556, -71.0589841]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_cf4178443fbd47cdb11570396758df0d = L.polyline(
                [[42.3635556, -71.0589841], [42.3634523, -71.0588507]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_58048597ce8449509bfc78a46ccbbbf4 = L.polyline(
                [[42.3634523, -71.0588507], [42.3632548, -71.0591791]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_f0ac7925de8949069c21478b421d18f0 = L.polyline(
                [[42.3632548, -71.0591791], [42.3629329, -71.0591924]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_51b47d602b334e99b59f17390523479c = L.polyline(
                [[42.3629329, -71.0591924], [42.3625934, -71.0585327]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_6f0e41b8f37546dc98de0dc80d942cf9 = L.polyline(
                [[42.3625934, -71.0585327], [42.3624797, -71.0583761]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_7e83b33ed7404098bbe3729c069616e0 = L.polyline(
                [[42.3624797, -71.0583761], [42.3623907, -71.0582922]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_4a0fa7af5aea448c85a2ac0c45eb1de8 = L.polyline(
                [[42.3623907, -71.0582922], [42.361535, -71.0575896]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_865de912ec754dbab0ada33c6a00e3ec = L.polyline(
                [[42.361535, -71.0575896], [42.3614608, -71.0575499]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_e8429ddae94947c8b799c4ae59cbcd05 = L.polyline(
                [[42.3614608, -71.0575499], [42.3603689, -71.0571833]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_9f053788b9c74d5b835386cba5d1362f = L.polyline(
                [[42.3603689, -71.0571833], [42.3602727, -71.0571572]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_5a70136fec244764b4b5f89cd169e43c = L.polyline(
                [[42.3602727, -71.0571572], [42.3601494, -71.0571224]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_30a11e7a956741f88e22e8189c04ca2e = L.polyline(
                [[42.3601494, -71.0571224], [42.3599117, -71.0570469]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_7f850c48e37b4d788ef49ed820926c23 = L.polyline(
                [[42.3599117, -71.0570469], [42.359794, -71.0570135]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_a78f0be4509d4bacbe4355413f88b310 = L.polyline(
                [[42.359794, -71.0570135], [42.359007, -71.0568173]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_a4c3153898f6427f88d1c6527dc861f9 = L.polyline(
                [[42.359007, -71.0568173], [42.358862, -71.0567884]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_3c1d8c8e51794457b1d1471706685a71 = L.polyline(
                [[42.358862, -71.0567884], [42.3587703, -71.0567625]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_0ed28a5187db4434a25d8c98c909e549 = L.polyline(
                [[42.3587703, -71.0567625], [42.3584507, -71.056672]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_899d7bdda8db4ba19cbb49995f4603f5 = L.polyline(
                [[42.3584507, -71.056672], [42.3581124, -71.056566]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_1512931f9a7e40df87530f8d036961ee = L.polyline(
                [[42.3581124, -71.056566], [42.3580435, -71.0565444]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_47972aa000184d4e8edd2d204f4e9204 = L.polyline(
                [[42.3580435, -71.0565444], [42.3577427, -71.0564501]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_1c6cfbcc943f46ebafcf01d94e666f35 = L.polyline(
                [[42.3577427, -71.0564501], [42.3575841, -71.0564128]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_d02761b453b24a4ba92429407d1cdbc9 = L.polyline(
                [[42.3575841, -71.0564128], [42.3568244, -71.0563276]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_51598db74604403e929abe2141ed444f = L.polyline(
                [[42.3568244, -71.0563276], [42.3567881, -71.0567607]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_6ba56814d6bd4afcb84345215624d77d = L.polyline(
                [[42.3567881, -71.0567607], [42.3555025, -71.0565291]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_1753d8bdad47426fb631544e508110a1 = L.polyline(
                [[42.3555025, -71.0565291], [42.3545332, -71.0563545]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_6ced0be0b2664153a261af44a117c9fc = L.polyline(
                [[42.3545332, -71.0563545], [42.3544808, -71.056345]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_c7783e6075004d2cb50682e138ff5e08 = L.polyline(
                [[42.3544808, -71.056345], [42.3539826, -71.0562553]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_b7817b7a218743bfac8f75335ed67ed6 = L.polyline(
                [[42.3539826, -71.0562553], [42.3536248, -71.0561898]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_7f5c7d74f2484c3a93d1e0fa52ba18aa = L.polyline(
                [[42.3536248, -71.0561898], [42.3532187, -71.0559294]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_b6103de2f3674025a6a48c18d1e6bcd8 = L.polyline(
                [[42.3532187, -71.0559294], [42.3531148, -71.0559079]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_c820f079d41043adab1c759708662847 = L.polyline(
                [[42.3531148, -71.0559079], [42.3529933, -71.0558113]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            var poly_line_2b114df220994cf5b2d77acb60262ce7 = L.polyline(
                [[42.3529933, -71.0558113], [42.3527775, -71.0554151]],
                {"bubblingMouseEvents": true, "color": "#3366ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3366ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 1}
            ).addTo(map_6bd86cd314ed461e9fb76113344c0bd8);
        
    
            map_6bd86cd314ed461e9fb76113344c0bd8.fitBounds(
                [[42.3527775, -71.0605925], [42.3656659, -71.0554151]],
                {}
            );
        
</script>