<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8a5a43ec94b94766baac58fd9e3781f8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_8a5a43ec94b94766baac58fd9e3781f8" ></div>
        
</body>
<script>    
    
            var map_8a5a43ec94b94766baac58fd9e3781f8 = L.map(
                "map_8a5a43ec94b94766baac58fd9e3781f8",
                {
                    center: [42.361145, -71.057083],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e15edec7e46743e2a6eeac5d78cc8659 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
            var marker_431c35d77cc5435db56edd665182698d = L.marker(
                [42.3528779, -71.0555024],
                {}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_91308aa8c64d47d8a65038169f94d9e0 = L.popup({"maxWidth": "100%"});

        
            var html_99b1e42e3a5b424e81da7783f95a792d = $(`<div id="html_99b1e42e3a5b424e81da7783f95a792d" style="width: 100.0%; height: 100.0%;">Origin</div>`)[0];
            popup_91308aa8c64d47d8a65038169f94d9e0.setContent(html_99b1e42e3a5b424e81da7783f95a792d);
        

        marker_431c35d77cc5435db56edd665182698d.bindPopup(popup_91308aa8c64d47d8a65038169f94d9e0)
        ;

        
    
    
            marker_431c35d77cc5435db56edd665182698d.bindTooltip(
                `<div>
                     Origin
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c6031dd11f164e76bdb16329a0239987 = L.marker(
                [42.350313400000005, -71.04968517600147],
                {}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_85f06c8a1e2749ca95e0772c9fddde69 = L.popup({"maxWidth": "100%"});

        
            var html_16ed48f1908546509ffb770c98cfc170 = $(`<div id="html_16ed48f1908546509ffb770c98cfc170" style="width: 100.0%; height: 100.0%;">Destination</div>`)[0];
            popup_85f06c8a1e2749ca95e0772c9fddde69.setContent(html_16ed48f1908546509ffb770c98cfc170);
        

        marker_c6031dd11f164e76bdb16329a0239987.bindPopup(popup_85f06c8a1e2749ca95e0772c9fddde69)
        ;

        
    
    
            marker_c6031dd11f164e76bdb16329a0239987.bindTooltip(
                `<div>
                     Destination
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_b301e35ba1fd4b279940f7f1eb295ea3 = L.polyline(
                [[42.3527775, -71.0554151], [42.3527337, -71.0553003]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_56e3aae310734d28b6923fed8dcabf50 = L.popup({"maxWidth": "100%"});

        
            var html_0085a59b3170480db0651f6a2388b1e3 = $(`<div id="html_0085a59b3170480db0651f6a2388b1e3" style="width: 100.0%; height: 100.0%;">10.617</div>`)[0];
            popup_56e3aae310734d28b6923fed8dcabf50.setContent(html_0085a59b3170480db0651f6a2388b1e3);
        

        poly_line_b301e35ba1fd4b279940f7f1eb295ea3.bindPopup(popup_56e3aae310734d28b6923fed8dcabf50)
        ;

        
    
    
            var poly_line_d0942a4611314b14b938e67c97fc558a = L.polyline(
                [[42.3527337, -71.0553003], [42.3526842, -71.0551585]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_1a01ff946eda4c578d0de9155fa59792 = L.popup({"maxWidth": "100%"});

        
            var html_44417e8f90e743e2aaf7b1f76c18e835 = $(`<div id="html_44417e8f90e743e2aaf7b1f76c18e835" style="width: 100.0%; height: 100.0%;">12.887</div>`)[0];
            popup_1a01ff946eda4c578d0de9155fa59792.setContent(html_44417e8f90e743e2aaf7b1f76c18e835);
        

        poly_line_d0942a4611314b14b938e67c97fc558a.bindPopup(popup_1a01ff946eda4c578d0de9155fa59792)
        ;

        
    
    
            var poly_line_94c6a4c6d0d54fcd9180a698045eb0a6 = L.polyline(
                [[42.3526842, -71.0551585], [42.3524718, -71.0546552]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_3c0917bb83f34defb3de3f20eed73d99 = L.popup({"maxWidth": "100%"});

        
            var html_f9792e383cab4bd8b258e6b193b66656 = $(`<div id="html_f9792e383cab4bd8b258e6b193b66656" style="width: 100.0%; height: 100.0%;">47.729</div>`)[0];
            popup_3c0917bb83f34defb3de3f20eed73d99.setContent(html_f9792e383cab4bd8b258e6b193b66656);
        

        poly_line_94c6a4c6d0d54fcd9180a698045eb0a6.bindPopup(popup_3c0917bb83f34defb3de3f20eed73d99)
        ;

        
    
    
            var poly_line_f7d0f12787884ddebb31cd1db70e7db4 = L.polyline(
                [[42.3524718, -71.0546552], [42.351544, -71.0529729]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_3ae9f7e0543f47d4b6ba3c02e86be220 = L.popup({"maxWidth": "100%"});

        
            var html_8c69b8fe701a48f1a273736bba2cf580 = $(`<div id="html_8c69b8fe701a48f1a273736bba2cf580" style="width: 100.0%; height: 100.0%;">181.77599999999998</div>`)[0];
            popup_3ae9f7e0543f47d4b6ba3c02e86be220.setContent(html_8c69b8fe701a48f1a273736bba2cf580);
        

        poly_line_f7d0f12787884ddebb31cd1db70e7db4.bindPopup(popup_3ae9f7e0543f47d4b6ba3c02e86be220)
        ;

        
    
    
            var poly_line_c7651ba300d245ecaa12b4fa087491ff = L.polyline(
                [[42.351544, -71.0529729], [42.3514786, -71.0528422]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_54168145605f497ca98b7aa45fffc078 = L.popup({"maxWidth": "100%"});

        
            var html_db605000835144328e850ac081b014a9 = $(`<div id="html_db605000835144328e850ac081b014a9" style="width: 100.0%; height: 100.0%;">12.971</div>`)[0];
            popup_54168145605f497ca98b7aa45fffc078.setContent(html_db605000835144328e850ac081b014a9);
        

        poly_line_c7651ba300d245ecaa12b4fa087491ff.bindPopup(popup_54168145605f497ca98b7aa45fffc078)
        ;

        
    
    
            var poly_line_cf4ce7f9481e40c1999aa85686eeba4f = L.polyline(
                [[42.3514786, -71.0528422], [42.3506543, -71.0510429]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_f91ccb5a1c68406fb89438ec5edf1d1e = L.popup({"maxWidth": "100%"});

        
            var html_8e65b2daf0ee44aca7560d8835472748 = $(`<div id="html_8e65b2daf0ee44aca7560d8835472748" style="width: 100.0%; height: 100.0%;">173.981</div>`)[0];
            popup_f91ccb5a1c68406fb89438ec5edf1d1e.setContent(html_8e65b2daf0ee44aca7560d8835472748);
        

        poly_line_cf4ce7f9481e40c1999aa85686eeba4f.bindPopup(popup_f91ccb5a1c68406fb89438ec5edf1d1e)
        ;

        
    
    
            var poly_line_91a7d5abc06e4ab18b28264bd45a4fc6 = L.polyline(
                [[42.3506543, -71.0510429], [42.3509941, -71.0508697]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_1453057114f94612ac34e73f26677a7e = L.popup({"maxWidth": "100%"});

        
            var html_f812edd360754b289ffc1ba0d2ed672c = $(`<div id="html_f812edd360754b289ffc1ba0d2ed672c" style="width: 100.0%; height: 100.0%;">49.711</div>`)[0];
            popup_1453057114f94612ac34e73f26677a7e.setContent(html_f812edd360754b289ffc1ba0d2ed672c);
        

        poly_line_91a7d5abc06e4ab18b28264bd45a4fc6.bindPopup(popup_1453057114f94612ac34e73f26677a7e)
        ;

        
    
    
            var poly_line_0bad167bf1ea4627a54169809b7efe06 = L.polyline(
                [[42.3509941, -71.0508697], [42.350871, -71.0505759]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_07190e9c8b1b4d9182738b38e3843452 = L.popup({"maxWidth": "100%"});

        
            var html_98259a59a961479ea6429b471574d6dc = $(`<div id="html_98259a59a961479ea6429b471574d6dc" style="width: 100.0%; height: 100.0%;">27.754</div>`)[0];
            popup_07190e9c8b1b4d9182738b38e3843452.setContent(html_98259a59a961479ea6429b471574d6dc);
        

        poly_line_0bad167bf1ea4627a54169809b7efe06.bindPopup(popup_07190e9c8b1b4d9182738b38e3843452)
        ;

        
    
    
            var poly_line_43d68b6d0dc44e479fafd11192d261b5 = L.polyline(
                [[42.350871, -71.0505759], [42.3508362, -71.050208]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_d4ee2a95dc6942da820e51b31078c4cc = L.popup({"maxWidth": "100%"});

        
            var html_d8be6999f2fd483188b2c40e7cc61f61 = $(`<div id="html_d8be6999f2fd483188b2c40e7cc61f61" style="width: 100.0%; height: 100.0%;">37.893</div>`)[0];
            popup_d4ee2a95dc6942da820e51b31078c4cc.setContent(html_d8be6999f2fd483188b2c40e7cc61f61);
        

        poly_line_43d68b6d0dc44e479fafd11192d261b5.bindPopup(popup_d4ee2a95dc6942da820e51b31078c4cc)
        ;

        
    
    
            var poly_line_c4f21973adc74ebc8073593c587aa113 = L.polyline(
                [[42.3508362, -71.050208], [42.3507641, -71.0500679]],
                {"bubblingMouseEvents": true, "color": "#66ff33", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#66ff33", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.8, "smoothFactor": 1.0, "stroke": true, "weight": 5}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_4afb5647a99c4d149df1e50b5dd7c184 = L.popup({"maxWidth": "100%"});

        
            var html_3be2eca5ab7e437dba3ead7f50c9081a = $(`<div id="html_3be2eca5ab7e437dba3ead7f50c9081a" style="width: 100.0%; height: 100.0%;">14.041</div>`)[0];
            popup_4afb5647a99c4d149df1e50b5dd7c184.setContent(html_3be2eca5ab7e437dba3ead7f50c9081a);
        

        poly_line_c4f21973adc74ebc8073593c587aa113.bindPopup(popup_4afb5647a99c4d149df1e50b5dd7c184)
        ;

        
    
    
            map_8a5a43ec94b94766baac58fd9e3781f8.fitBounds(
                [[42.3506543, -71.0554151], [42.3527775, -71.0500679]],
                {}
            );
        
    
            var poly_line_adcefe862f1547088587f9778603f270 = L.polyline(
                [[42.3527775, -71.0554151], [42.3527337, -71.0553003]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_15aff95d034843c78972cd9bafccd3e5 = L.popup({"maxWidth": "100%"});

        
            var html_d054d1f100e74ae0830eed55269091e3 = $(`<div id="html_d054d1f100e74ae0830eed55269091e3" style="width: 100.0%; height: 100.0%;">10.617</div>`)[0];
            popup_15aff95d034843c78972cd9bafccd3e5.setContent(html_d054d1f100e74ae0830eed55269091e3);
        

        poly_line_adcefe862f1547088587f9778603f270.bindPopup(popup_15aff95d034843c78972cd9bafccd3e5)
        ;

        
    
    
            var poly_line_2970ffa3a0c642d48b9cbe2649e62a61 = L.polyline(
                [[42.3527337, -71.0553003], [42.3526842, -71.0551585]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_a2a00dd1dda4488aa40fcfe6dfbf05ed = L.popup({"maxWidth": "100%"});

        
            var html_7f5942445ef04e19977882aa2d4fa290 = $(`<div id="html_7f5942445ef04e19977882aa2d4fa290" style="width: 100.0%; height: 100.0%;">12.887</div>`)[0];
            popup_a2a00dd1dda4488aa40fcfe6dfbf05ed.setContent(html_7f5942445ef04e19977882aa2d4fa290);
        

        poly_line_2970ffa3a0c642d48b9cbe2649e62a61.bindPopup(popup_a2a00dd1dda4488aa40fcfe6dfbf05ed)
        ;

        
    
    
            var poly_line_e5cf175a479847d1bfa3afc6a6d76a6f = L.polyline(
                [[42.3526842, -71.0551585], [42.352619, -71.0552174]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_7c870aa1921c4da1a10192e1ecb52997 = L.popup({"maxWidth": "100%"});

        
            var html_b622f2087f6c4ab0aefb0e95732ffb7e = $(`<div id="html_b622f2087f6c4ab0aefb0e95732ffb7e" style="width: 100.0%; height: 100.0%;">8.717</div>`)[0];
            popup_7c870aa1921c4da1a10192e1ecb52997.setContent(html_b622f2087f6c4ab0aefb0e95732ffb7e);
        

        poly_line_e5cf175a479847d1bfa3afc6a6d76a6f.bindPopup(popup_7c870aa1921c4da1a10192e1ecb52997)
        ;

        
    
    
            var poly_line_e8aa2ee401214049a51522892a903847 = L.polyline(
                [[42.352619, -71.0552174], [42.351544, -71.0529729]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_9f3d657560b049568c963f0b7cb5b8ab = L.popup({"maxWidth": "100%"});

        
            var html_b960a9a249034e6e992d5f15c3a62704 = $(`<div id="html_b960a9a249034e6e992d5f15c3a62704" style="width: 100.0%; height: 100.0%;">219.821</div>`)[0];
            popup_9f3d657560b049568c963f0b7cb5b8ab.setContent(html_b960a9a249034e6e992d5f15c3a62704);
        

        poly_line_e8aa2ee401214049a51522892a903847.bindPopup(popup_9f3d657560b049568c963f0b7cb5b8ab)
        ;

        
    
    
            var poly_line_2140277160fc4529b90847515f720cdc = L.polyline(
                [[42.351544, -71.0529729], [42.3514786, -71.0528422]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_7ce50cfc08a648de9ba23ab0315f9c2b = L.popup({"maxWidth": "100%"});

        
            var html_17eabcb14d6e4c258c956d58c77232b5 = $(`<div id="html_17eabcb14d6e4c258c956d58c77232b5" style="width: 100.0%; height: 100.0%;">12.971</div>`)[0];
            popup_7ce50cfc08a648de9ba23ab0315f9c2b.setContent(html_17eabcb14d6e4c258c956d58c77232b5);
        

        poly_line_2140277160fc4529b90847515f720cdc.bindPopup(popup_7ce50cfc08a648de9ba23ab0315f9c2b)
        ;

        
    
    
            var poly_line_d31e951a4a984563af49e0addb8e8a82 = L.polyline(
                [[42.3514786, -71.0528422], [42.3506543, -71.0510429]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_ee36a5bd71674c2094b96479efb27d6c = L.popup({"maxWidth": "100%"});

        
            var html_058d03bd64764584bc9598425978314f = $(`<div id="html_058d03bd64764584bc9598425978314f" style="width: 100.0%; height: 100.0%;">173.981</div>`)[0];
            popup_ee36a5bd71674c2094b96479efb27d6c.setContent(html_058d03bd64764584bc9598425978314f);
        

        poly_line_d31e951a4a984563af49e0addb8e8a82.bindPopup(popup_ee36a5bd71674c2094b96479efb27d6c)
        ;

        
    
    
            var poly_line_0cef06839952429095a4386756c8be76 = L.polyline(
                [[42.3506543, -71.0510429], [42.3509941, -71.0508697]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_453eac1f2617478f91eff48ebed654fc = L.popup({"maxWidth": "100%"});

        
            var html_526f918e6784493f9744b10a04a70ee2 = $(`<div id="html_526f918e6784493f9744b10a04a70ee2" style="width: 100.0%; height: 100.0%;">49.711</div>`)[0];
            popup_453eac1f2617478f91eff48ebed654fc.setContent(html_526f918e6784493f9744b10a04a70ee2);
        

        poly_line_0cef06839952429095a4386756c8be76.bindPopup(popup_453eac1f2617478f91eff48ebed654fc)
        ;

        
    
    
            var poly_line_a582be0e1a744702b9954621c7dcb547 = L.polyline(
                [[42.3509941, -71.0508697], [42.350871, -71.0505759]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_79f58b22a7fd407b85e8f0109a6e448d = L.popup({"maxWidth": "100%"});

        
            var html_65772dd8b61d48648d8cac8492f003b3 = $(`<div id="html_65772dd8b61d48648d8cac8492f003b3" style="width: 100.0%; height: 100.0%;">27.754</div>`)[0];
            popup_79f58b22a7fd407b85e8f0109a6e448d.setContent(html_65772dd8b61d48648d8cac8492f003b3);
        

        poly_line_a582be0e1a744702b9954621c7dcb547.bindPopup(popup_79f58b22a7fd407b85e8f0109a6e448d)
        ;

        
    
    
            var poly_line_daa76786ddfa4131966f9ccea2fc9ca4 = L.polyline(
                [[42.350871, -71.0505759], [42.3508362, -71.050208]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_8f1794e7a61b4e19b382206f14df05f2 = L.popup({"maxWidth": "100%"});

        
            var html_3342b49a6a934599b1754f68b6e3a26d = $(`<div id="html_3342b49a6a934599b1754f68b6e3a26d" style="width: 100.0%; height: 100.0%;">37.893</div>`)[0];
            popup_8f1794e7a61b4e19b382206f14df05f2.setContent(html_3342b49a6a934599b1754f68b6e3a26d);
        

        poly_line_daa76786ddfa4131966f9ccea2fc9ca4.bindPopup(popup_8f1794e7a61b4e19b382206f14df05f2)
        ;

        
    
    
            var poly_line_e78db2e7c80e4bdca48267b62d479f74 = L.polyline(
                [[42.3508362, -71.050208], [42.3507641, -71.0500679]],
                {"bubblingMouseEvents": true, "color": "#cc0000", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#cc0000", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2}
            ).addTo(map_8a5a43ec94b94766baac58fd9e3781f8);
        
    
        var popup_448a020a0058442c9e2caf0034799bc3 = L.popup({"maxWidth": "100%"});

        
            var html_a8a4f25683b4446ab43e1e7cceb17e9a = $(`<div id="html_a8a4f25683b4446ab43e1e7cceb17e9a" style="width: 100.0%; height: 100.0%;">14.041</div>`)[0];
            popup_448a020a0058442c9e2caf0034799bc3.setContent(html_a8a4f25683b4446ab43e1e7cceb17e9a);
        

        poly_line_e78db2e7c80e4bdca48267b62d479f74.bindPopup(popup_448a020a0058442c9e2caf0034799bc3)
        ;

        
    
    
            map_8a5a43ec94b94766baac58fd9e3781f8.fitBounds(
                [[42.3506543, -71.0554151], [42.3527775, -71.0500679]],
                {}
            );
        
</script>